.interfaz2{
    padding: 5px;
}
.imgs{
    padding: 0px 0px 7px 0px;
}
.imgs2{
    padding: 0px 0px 4px 0px;
}
.o{
    margin: 10px 10px 60px 10px;
}
.o2{
    margin: 10px 10px 60px 10px;
}